---
---

<section
  class="landing"
  id="home"
>
  <h1 class="hero-text animated-text">AI DEV</h1>
  <div class="hero-group">
    <div class="hero-group-item">
      <h4>FRONT END</h4>
    </div>
    <div class="hero-group-item">
      <h4>UMBRACO UI</h4>
    </div>
    <div class="hero-group-item">
      <h4>GAME DEVELOPMENT</h4>
    </div>
  </div>
</section>

<style>
  .landing {
    position: relative;
    height: 95vh;
    display: flex;
    flex-direction: column;
    overflow: clip;
  }

  .hero-text {
    position: absolute;
    top: 20%;
    left: 0;
  }

  .hero-group {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.15em;
    padding-bottom: 50px;
  }
</style>
