@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&family=Space+Grotesk:wght@400;700&display=swap");

:root {
  --bg-color: #f7f3ef;
  --bg-dark: #1a1f28;
  --text-primary: #2e3440;

  --dark: #252a36;
  --light: #ece9e3;

  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;

  --gradient-top: #1A1326;
  --gradient-mid: #3A2436;
  --gradient-bottom: #8A4B43;

  --gradient-top-light: #8B7BB5;
  --gradient-mid-light: #C493BD;
  --gradient-bottom-light: #FFB3A8;
}
