---
const aboutText =
  "I am currently working as a freelance software engineer specializing in Umbraco systems. Over the years, I've contributed to large-scale web applications for clients like Jesperhus, Maus and Inet. I have extensive experience collaborating with international companies, with a strong focus on the Scandinavian market.";
---

<section
  class="case"
  id="case"
>
  <div class="case-headings">
    <h2 class="case-title animated-text">CASE STUDY</h2>
  </div>
  <div class="case-content">
    <p class="case-paragraph">{aboutText}</p>
  </div>
</section>

<style>
  .case {
    position: relative;
    height: 85dvh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    overflow: clip;
    margin-bottom: -5rem;
  }

  .case-headings {
    position: absolute;
    top: 15%;
    left: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 1;
  }

  .case-content {
    padding: 0 1rem 0;
    max-width: 40%;
  }

  .case-paragraph {
    color: var(--light);
    margin: 0;
  }
</style>
